<h3> Listing all students </h3>

<%= link_to "add new", new_student_path%>

<div classs="container">
<table border="1">
	<thead>
		<tr>
			<th> Slno</th>
			<th> Name</th>
			<th> Qualification</th>
			<th>Email Id</th>
			<th>Phone Number</td>
			<th>Address</th>
			<th>Batch</td>
		</tr>
	</thead>
</tbody>  


<% @student.each_with_index do |student,index| %>
<tr> 
	<td> <%=index+1%></td>
	<td> <%=student.student_name%> </td>
	<td> <%=student.student_qualification%></td>
	<td> <%=student.email_id%></td>
	<td> <%=student.phone_number%></td>
	<td> <%=student.address%></td>
	<td> <% @batches=student.batch_students.all%>
            <% for batch in @batches %>
             <%= batch.batch_id%>
              <% end %></td>

	<td> <%#= link_to "SHOW", student_path(@student)%></td>
</tr>
<%end%>

</table>
</div>