<div class="container center-block">

<h1>   Students </h3>

<%= form_for @student, :html => { :class => 'form-group' } do |s| %>
  <div class="form-group">
<%= s.text_field :student_name, class: "form-control" ,placeholder: "name" %><br/>
</div>

  <div class="form-group">

<%= s.text_field :student_qualification, class: "form-control",placeholder: "qualification"%><br/>
</div>

  <div class="form-group">


<%= s.email_field :email_id, class: "form-control",placeholder: "email"%><br/>
</div>

  <div class="form-group">
<%= s.number_field :phone_number, class: "form-control",placeholder: "phone"%><br/>
</div>

 
<%#= collection_select(:student, :batch_ids, 
              Batch.all, 
              :id, :batch_name, {:selected => @students.batch_ids},prompt: "select batch", class: "input-sm")%>	



  <div class="form-group">
<%= s.text_area :address, rows: 10, cols: 10, class: "form-control",placeholder: "address"%><br/>
 </div>


<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="icon-ok icon-white"></i> Save
<% end %>

<%end%>
</div>