<h3 style="color:red"> LISTING ALL TUTOR</h3>

<table class="table table-condensed">
  <thead>
    <tr class="success">
      <th>Tutor Name</th>
      <th>Qualification</th>
      <th>Experience</th>
	  <th>Address</th>
	  <th>Gender</th>
	  <th>Hourly_rate</th>
	  <th>Location</th>
	  <th>PhoneNumber</th>
	  <th>EmailId</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor.each do |tutor| %>
      <tr class="active">
        <td class="warning"><%= tutor.tutor_name %></td>
        <td class="success"><%= tutor.qualification %></td>
        <td class="danger"><%= tutor.experience %></td>
		<td class="info"><%= tutor.address%></td>
		<td class="danger"><%= tutor.gender%></td>
		<td class="success"><%= tutor.hourly_rate%></td>
		<td class="info"><%= tutor.location%></td>
		<td class="warning"><%= tutor.phone_number%></td>
		<td class="info"><%= tutor.email_id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


