<center>
<div class="form-group">
<h3 style="color:green">Tutor Details</h3>

<%= form_for @tutor do |f| %>

<label style="color:red">Name:</label><br/>
<%= f.text_field :tutor_name,  :placeholder =>"Enter Name" %><br/>



<label style="color:red">Qualification</label><br/>
<%= f.text_field :qualification%><br/>

<label style="color:red">Experience</label><br/>
<%= f.text_field :experience%><br/>

<label style="color:red">Address</label><br/>
<%= f.text_area :address, :cols => "25", :rows => "10" %><br/>

<label style="color:red">Gender</label><br/>
<%= f.text_field :gender%><br/>

<label style="color:red"> Hourly Rate </label><br/>
<%= f.text_field :hourly_rate%><br/>

<label style="color:red">Location</label><br/>
<%= f.text_field :location%><br/>

<label style="color:red">Phone Number</label><br/>
<%= f.text_field :phone_number%><br/>

<label style="color:red">Email Id</label><br/>
<%= f.email_field :email_id%><br/><br/>

<%#= button_to(type: 'submit', class: "btn btn-primary") do %>


<%= f.submit %>

<% end%>
</div>
