<h3> Courses offered<h3>

	<h3> Listing all students </h3>

<%= link_to "add new course", new_course_path%>

<div classs="container">
<table border="1">
	<thead>
		<tr>
			<th> Slno</th>
			<th> Name</th>
			<th> Course Type</th>
			<th>Course Duration</th>
		</tr>
	</thead>
</tbody>  


<% @courses.each_with_index do |course,index| %>
<tr> 
	<td> <%=index+1%></td>
	<td> <%=course.course_name%> </td>
	<td> <%=course.course_type%></td>
	<td> <%=course.course_duration%></td>
	

	<td> <%#= link_to "SHOW", student_path(@student)%></td>
</tr>
<%end%>

</table>
</div>